.booking-modal-container {
    padding         : 40px;
    background-color: floralwhite;

    .booking-modal-content {
        display       : flex;
        flex-direction: column;

        .booking-modal-header {
            padding: 10px;

            .left {
                font-size  : 15px;
                font-weight: 600;
                color      : #333;
            }

            .right {
                float : right;
                cursor: pointer;
            }
        }

        .booking-modal-body {
            border-top: 1px solid #ccc;
            height    : 100%;
            padding   : 15px;
        }

        .booking-modal-footer {
            padding        : 10px;
            border-top     : 1px solid #ccc;
            display        : flex;
            justify-content: flex-end;
            gap            : 15px;

            button {
                border       : none;
                outline      : none;
                padding      : 5px 8px;
                border-radius: 3px;
            }

            .btn-booking-confirm {
                background-color: blue;
            }

            .btn-booking-cancel {
                background-color: orange;
            }
        }
    }
}