.home-header-container {
    height    : 65px;
    width     : 100%;
    padding   : 0 20px;
    top       : 0;
    position  : sticky;
    z-index   : 1000000;
    background: white;

    .home-header-content {
        width  : 100%;
        height : 100%;
        display: flex;

        .left-content {
            width       : 25%;
            display     : flex;
            align-items : center;
            padding-left: 40px;

            .header-logo {
                background : url(../../assets/bookingcare-2020.svg) center center no-repeat;
                height     : 55%;
                width      : 70%;
                cursor     : pointer;
                display    : flex;
                align-items: center;
            }

            i {
                font-size  : 23px;
                color      : grey;
                line-height: 2;
                cursor     : pointer;
            }
        }


        .center-content {
            width          : 50%;
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            .child-content {
                .subtitle {
                    font-weight: 400;
                    font-size  : 12px;
                }
            }
        }


        .right-content {
            width          : 25%;
            display        : flex;
            justify-content: flex-end;
            align-items    : center;


            .support {
                padding-right: 50px;
                display      : flex;
                align-items  : center;
                cursor       : pointer;
            }

            .language-vi {
                cursor : pointer;
                opacity: 0.3;

                &.active {
                    opacity: 1;

                    span {
                        color: orange;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .language-en {
                margin : 0 10px;
                cursor : pointer;
                opacity: 0.3;


                &.active {
                    opacity: 1;

                    span {
                        color: blue;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

}

.home-header-banner {
    background-image   : url(../../assets/banner.jpg);
    height             : 485px;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    display            : flex;
    flex-direction     : column;

    .content-up {
        height          : 65%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));

        .title1 {
            text-align : center;
            font-size  : 30px;
            text-shadow: 1px 1px 1px #333;
            color      : white;
            padding    : 50px 0 5px 0;
        }

        .title2 {
            text-align   : center;
            font-size    : 30px;
            text-shadow  : 1px 1px 1px #333;
            color        : white;
            margin-bottom: 15px;
        }

        .search {
            width           : fit-content;
            display         : flex;
            justify-content : center;
            align-items     : center;
            margin          : 0 auto;
            padding         : 10px;
            border-radius   : 25px;
            background-color: #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height    : 30px;
                width     : 360px;
                background: transparent;
                border    : none;
                outline   : none;
            }
        }

    }

    .content-down {
        height          : 35%;
        display         : flex;
        align-items     : flex-end;
        justify-content : center;
        padding-bottom  : 15px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            display        : flex;
            text-align     : center;
            gap            : 50px;
            justify-content: center;

            .option-child {
                width: 100px;

                .icon-child {
                    background   : white;
                    width        : 70px;
                    height       : 70px;
                    padding      : 10px;
                    margin       : 0 auto;
                    text-align   : center;
                    border-radius: 50%;

                    i {
                        font-size: 30px;
                        color    : #49bce2;
                    }
                }

                .text-child {
                    font-size  : 17px;
                    font-weight: 600;
                    cursor     : pointer;
                    font-family: system-ui;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }

    }

}